<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Celebs</title>
</head>
<body>
<h1>----Celbs 'r' Us----</h1>

<a href="/celebs">Home Page</a> || 
<a href="/celebs/new">Create Celeb</a>
      <%- body %>
</body>
</html>