<h2>Add a celeb to your database</h2>
<form action="/celebs" method='POST'>
  Name:<br>
  <input type="text" name="celeb[name]" >
  <br>
  Age:<br>
  <input type="text" name="celeb[age]" >
  <br>
    Gender:<br>
  <input type="text" name="celeb[gender]" >
  <br>
  Profession:<br>
  <input type="text" name="celeb[profession]" >
  <br>
  <input type="submit" value="Submit">
</form> 